<a href="https://colab.research.google.com/github/olilambourn/olilambourn.github.io/blob/main/OECDGDPForecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  # library for data analysis
import requests  # library to handle requests
from bs4 import BeautifulSoup  # library to parse HTML documents
import numpy as np

# Cutomised download from https://stats.oecd.org/index.aspx?DataSetCode=EO 
# Downloading total tax revenues over time in USD for all avalible countries.
# Importing the csv file as a dataframe
df = pd.read_csv('OECDREALGDPOUTLOOK.csv')
df = df.loc[:, ['LOCATION', 'TIME', 'Value']]

df = df[df['LOCATION'].isin(['FRA', 'DEU', 
                           'GBR', 'USA', 'CHN', 'JPN', 'IND', ])]

df

    LOCATION  TIME         Value
0        FRA  2020  2.669280e+06
1        FRA  2021  2.823768e+06
2        FRA  2022  2.935513e+06
3        FRA  2023  2.992562e+06
4        FRA  2024  3.034071e+06
..       ...   ...           ...
282      IND  2056  3.853272e+07
283      IND  2057  3.943112e+07
284      IND  2058  4.034179e+07
285      IND  2059  4.126573e+07
286      IND  2060  4.220387e+07

[287 rows x 3 columns]

In [ ]:
import json

# Convert the dataframe to a list of dictionaries
data = df.to_dict('records')

# Initialize a dictionary to store the JSON graphs
graphs = {}

# Iterate over the list of dictionaries
for row in data:
    # Get the location and time
    location = row['LOCATION']
    time = row['TIME']
    
    # If this is the first time we encounter this location, 
    # create a new entry in the dictionary
    if location not in graphs:
        graphs[location] = {'data': []}
    
    # Add the data point to the list of data points for this location
    graphs[location]['data'].append({'x': time, 'y': row['Value']})

# Convert the dictionary to a JSON object
json_data = json.dumps(graphs)

# Print the JSON object
print(json_data)

{"FRA": {"data": [{"x": 2020, "y": 2669280.2573897}, {"x": 2021, "y": 2823768.09620666}, {"x": 2022, "y": 2935513.43703451}, {"x": 2023, "y": 2992562.0}, {"x": 2024, "y": 3034071.0}, {"x": 2025, "y": 3071890.0}, {"x": 2026, "y": 3109641.0}, {"x": 2027, "y": 3148105.0}, {"x": 2028, "y": 3187267.0}, {"x": 2029, "y": 3226815.0}, {"x": 2030, "y": 3266564.0}, {"x": 2031, "y": 3306480.0}, {"x": 2032, "y": 3346445.0}, {"x": 2033, "y": 3386504.0}, {"x": 2034, "y": 3426783.0}, {"x": 2035, "y": 3467468.0}, {"x": 2036, "y": 3508727.0}, {"x": 2037, "y": 3550510.0}, {"x": 2038, "y": 3592766.0}, {"x": 2039, "y": 3635469.0}, {"x": 2040, "y": 3678671.0}, {"x": 2041, "y": 3722469.0}, {"x": 2042, "y": 3766844.0}, {"x": 2043, "y": 3811787.0}, {"x": 2044, "y": 3857318.0}, {"x": 2045, "y": 3903525.0}, {"x": 2046, "y": 3950559.0}, {"x": 2047, "y": 3998416.0}, {"x": 2048, "y": 4047162.0}, {"x": 2049, "y": 4096935.0}, {"x": 2050, "y": 4147962.0}, {"x": 2051, "y": 4200476.0}, {"x": 2052, "y": 4254467.0}, {"x": 2053, "y": 4309873.0}, {"x": 2054, "y": 4366650.0}, {"x": 2055, "y": 4424836.0}, {"x": 2056, "y": 4484515.0}, {"x": 2057, "y": 4545554.0}, {"x": 2058, "y": 4607810.0}, {"x": 2059, "y": 4671200.0}, {"x": 2060, "y": 4735778.0}]}, "DEU": {"data": [{"x": 2020, "y": 3947166.73612686}, {"x": 2021, "y": 4077562.93265552}, {"x": 2022, "y": 4257314.08509196}, {"x": 2023, "y": 4338827.0}, {"x": 2024, "y": 4385355.0}, {"x": 2025, "y": 4419373.0}, {"x": 2026, "y": 4449217.0}, {"x": 2027, "y": 4478150.0}, {"x": 2028, "y": 4507380.0}, {"x": 2029, "y": 4536670.0}, {"x": 2030, "y": 4565995.0}, {"x": 2031, "y": 4595534.0}, {"x": 2032, "y": 4625521.0}, {"x": 2033, "y": 4656349.0}, {"x": 2034, "y": 4688367.0}, {"x": 2035, "y": 4721863.0}, {"x": 2036, "y": 4757042.0}, {"x": 2037, "y": 4793973.0}, {"x": 2038, "y": 4832613.0}, {"x": 2039, "y": 4872740.0}, {"x": 2040, "y": 4914029.0}, {"x": 2041, "y": 4956185.0}, {"x": 2042, "y": 4999058.0}, {"x": 2043, "y": 5042536.0}, {"x": 2044, "y": 5086551.0}, {"x": 2045, "y": 5131040.0}, {"x": 2046, "y": 5175978.0}, {"x": 2047, "y": 5221425.0}, {"x": 2048, "y": 5267470.0}, {"x": 2049, "y": 5314173.0}, {"x": 2050, "y": 5361523.0}, {"x": 2051, "y": 5409485.0}, {"x": 2052, "y": 5458138.0}, {"x": 2053, "y": 5507556.0}, {"x": 2054, "y": 5557900.0}, {"x": 2055, "y": 5609415.0}, {"x": 2056, "y": 5662351.0}, {"x": 2057, "y": 5716947.0}, {"x": 2058, "y": 5773277.0}, {"x": 2059, "y": 5831274.0}, {"x": 2060, "y": 5890765.0}]}, "JPN": {"data": [{"x": 2020, "y": 5104892.0427927}, {"x": 2021, "y": 5239313.28747556}, {"x": 2022, "y": 5345936.84053381}, {"x": 2023, "y": 5405077.0}, {"x": 2024, "y": 5445553.0}, {"x": 2025, "y": 5477318.0}, {"x": 2026, "y": 5506395.0}, {"x": 2027, "y": 5536111.0}, {"x": 2028, "y": 5567248.0}, {"x": 2029, "y": 5599273.0}, {"x": 2030, "y": 5631733.0}, {"x": 2031, "y": 5664277.0}, {"x": 2032, "y": 5696523.0}, {"x": 2033, "y": 5727996.0}, {"x": 2034, "y": 5758291.0}, {"x": 2035, "y": 5787177.0}, {"x": 2036, "y": 5814600.0}, {"x": 2037, "y": 5840327.0}, {"x": 2038, "y": 5864345.0}, {"x": 2039, "y": 5886727.0}, {"x": 2040, "y": 5907647.0}, {"x": 2041, "y": 5927313.0}, {"x": 2042, "y": 5945730.0}, {"x": 2043, "y": 5962831.0}, {"x": 2044, "y": 5978519.0}, {"x": 2045, "y": 5992860.0}, {"x": 2046, "y": 6006202.0}, {"x": 2047, "y": 6018798.0}, {"x": 2048, "y": 6031337.0}, {"x": 2049, "y": 6044710.0}, {"x": 2050, "y": 6059900.0}, {"x": 2051, "y": 6077718.0}, {"x": 2052, "y": 6098274.0}, {"x": 2053, "y": 6121410.0}, {"x": 2054, "y": 6146851.0}, {"x": 2055, "y": 6174422.0}, {"x": 2056, "y": 6204026.0}, {"x": 2057, "y": 6235204.0}, {"x": 2058, "y": 6267453.0}, {"x": 2059, "y": 6300303.0}, {"x": 2060, "y": 6333415.0}]}, "GBR": {"data": [{"x": 2020, "y": 2656128.5378153}, {"x": 2021, "y": 2848040.89052592}, {"x": 2022, "y": 3005308.58046365}, {"x": 2023, "y": 3075237.0}, {"x": 2024, "y": 3121279.0}, {"x": 2025, "y": 3162138.0}, {"x": 2026, "y": 3202893.0}, {"x": 2027, "y": 3244768.0}, {"x": 2028, "y": 3287691.0}, {"x": 2029, "y": 3331140.0}, {"x": 2030, "y": 3374652.0}, {"x": 2031, "y": 3417955.0}, {"x": 2032, "y": 3460916.0}, {"x": 2033, "y": 3503551.0}, {"x": 2034, "y": 3545934.0}, {"x": 2035, "y": 3588162.0}, {"x": 2036, "y": 3630335.0}, {"x": 2037, "y": 3672596.0}, {"x": 2038, "y": 3715014.0}, {"x": 2039, "y": 3757626.0}, {"x": 2040, "y": 3800457.0}, {"x": 2041, "y": 3843554.0}, {"x": 2042, "y": 3886992.0}, {"x": 2043, "y": 3930816.0}, {"x": 2044, "y": 3975040.0}, {"x": 2045, "y": 4019669.0}, {"x": 2046, "y": 4064725.0}, {"x": 2047, "y": 4110190.0}, {"x": 2048, "y": 4156066.0}, {"x": 2049, "y": 4202370.0}, {"x": 2050, "y": 4249172.0}, {"x": 2051, "y": 4296597.0}, {"x": 2052, "y": 4344710.0}, {"x": 2053, "y": 4393623.0}, {"x": 2054, "y": 4443458.0}, {"x": 2055, "y": 4494356.0}, {"x": 2056, "y": 4546474.0}, {"x": 2057, "y": 4599875.0}, {"x": 2058, "y": 4654600.0}, {"x": 2059, "y": 4710636.0}, {"x": 2060, "y": 4767945.0}]}, "USA": {"data": [{"x": 2020, "y": 19277860.0570682}, {"x": 2021, "y": 20600684.2066607}, {"x": 2022, "y": 21333157.9390889}, {"x": 2023, "y": 21745600.0}, {"x": 2024, "y": 22089590.0}, {"x": 2025, "y": 22435530.0}, {"x": 2026, "y": 22795090.0}, {"x": 2027, "y": 23165430.0}, {"x": 2028, "y": 23542450.0}, {"x": 2029, "y": 23922220.0}, {"x": 2030, "y": 24302080.0}, {"x": 2031, "y": 24680650.0}, {"x": 2032, "y": 25057260.0}, {"x": 2033, "y": 25432210.0}, {"x": 2034, "y": 25805950.0}, {"x": 2035, "y": 26178950.0}, {"x": 2036, "y": 26551860.0}, {"x": 2037, "y": 26925870.0}, {"x": 2038, "y": 27301970.0}, {"x": 2039, "y": 27680920.0}, {"x": 2040, "y": 28063300.0}, {"x": 2041, "y": 28449620.0}, {"x": 2042, "y": 28840510.0}, {"x": 2043, "y": 29236180.0}, {"x": 2044, "y": 29636360.0}, {"x": 2045, "y": 30040560.0}, {"x": 2046, "y": 30448430.0}, {"x": 2047, "y": 30860520.0}, {"x": 2048, "y": 31276660.0}, {"x": 2049, "y": 31696400.0}, {"x": 2050, "y": 32119290.0}, {"x": 2051, "y": 32545110.0}, {"x": 2052, "y": 32973750.0}, {"x": 2053, "y": 33405240.0}, {"x": 2054, "y": 33839410.0}, {"x": 2055, "y": 34276180.0}, {"x": 2056, "y": 34715910.0}, {"x": 2057, "y": 35159850.0}, {"x": 2058, "y": 35609030.0}, {"x": 2059, "y": 36064460.0}, {"x": 2060, "y": 36527240.0}]}, "CHN": {"data": [{"x": 2020, "y": 23509112.4859016}, {"x": 2021, "y": 25514667.1525193}, {"x": 2022, "y": 26995184.572743}, {"x": 2023, "y": 28326230.0}, {"x": 2024, "y": 29596430.0}, {"x": 2025, "y": 30847740.0}, {"x": 2026, "y": 32090550.0}, {"x": 2027, "y": 33328160.0}, {"x": 2028, "y": 34558960.0}, {"x": 2029, "y": 35776690.0}, {"x": 2030, "y": 36976710.0}, {"x": 2031, "y": 38155280.0}, {"x": 2032, "y": 39309470.0}, {"x": 2033, "y": 40435560.0}, {"x": 2034, "y": 41529450.0}, {"x": 2035, "y": 42587530.0}, {"x": 2036, "y": 43607620.0}, {"x": 2037, "y": 44588650.0}, {"x": 2038, "y": 45531140.0}, {"x": 2039, "y": 46436270.0}, {"x": 2040, "y": 47305810.0}, {"x": 2041, "y": 48142100.0}, {"x": 2042, "y": 48947850.0}, {"x": 2043, "y": 49726360.0}, {"x": 2044, "y": 50481210.0}, {"x": 2045, "y": 51216270.0}, {"x": 2046, "y": 51936040.0}, {"x": 2047, "y": 52645640.0}, {"x": 2048, "y": 53350570.0}, {"x": 2049, "y": 54055810.0}, {"x": 2050, "y": 54765280.0}, {"x": 2051, "y": 55481590.0}, {"x": 2052, "y": 56205480.0}, {"x": 2053, "y": 56936110.0}, {"x": 2054, "y": 57671560.0}, {"x": 2055, "y": 58410030.0}, {"x": 2056, "y": 59150730.0}, {"x": 2057, "y": 59894050.0}, {"x": 2058, "y": 60640270.0}, {"x": 2059, "y": 61389070.0}, {"x": 2060, "y": 62139790.0}]}, "IND": {"data": [{"x": 2020, "y": 8415911.84325774}, {"x": 2021, "y": 9091495.02468221}, {"x": 2022, "y": 9957662.72705213}, {"x": 2023, "y": 10815240.0}, {"x": 2024, "y": 11635760.0}, {"x": 2025, "y": 12450620.0}, {"x": 2026, "y": 13269540.0}, {"x": 2027, "y": 14093520.0}, {"x": 2028, "y": 14923520.0}, {"x": 2029, "y": 15760180.0}, {"x": 2030, "y": 16602910.0}, {"x": 2031, "y": 17450590.0}, {"x": 2032, "y": 18301730.0}, {"x": 2033, "y": 19155040.0}, {"x": 2034, "y": 20009020.0}, {"x": 2035, "y": 20862090.0}, {"x": 2036, "y": 21712830.0}, {"x": 2037, "y": 22560550.0}, {"x": 2038, "y": 23404900.0}, {"x": 2039, "y": 24245720.0}, {"x": 2040, "y": 25082990.0}, {"x": 2041, "y": 25916950.0}, {"x": 2042, "y": 26748030.0}, {"x": 2043, "y": 27576820.0}, {"x": 2044, "y": 28403630.0}, {"x": 2045, "y": 29228650.0}, {"x": 2046, "y": 30052370.0}, {"x": 2047, "y": 30876030.0}, {"x": 2048, "y": 31701400.0}, {"x": 2049, "y": 32530040.0}, {"x": 2050, "y": 33363210.0}, {"x": 2051, "y": 34202140.0}, {"x": 2052, "y": 35048310.0}, {"x": 2053, "y": 35903600.0}, {"x": 2054, "y": 36769260.0}, {"x": 2055, "y": 37645610.0}, {"x": 2056, "y": 38532720.0}, {"x": 2057, "y": 39431120.0}, {"x": 2058, "y": 40341790.0}, {"x": 2059, "y": 41265730.0}, {"x": 2060, "y": 42203870.0}]}}

In [ ]:
import json

# Parse the JSON string into a Python object
parsed_json = json.loads(json_data)

# Iterate over the locations
for location, graph in parsed_json.items():
    print(f'Location: {location}')
    
    # Iterate over the data points for this location
    for point in graph['data']:
        print(f'  Time: {point["x"]}, Value: {point["y"]}')

Location: FRA
  Time: 2020, Value: 2669280.2573897
  Time: 2021, Value: 2823768.09620666
  Time: 2022, Value: 2935513.43703451
  Time: 2023, Value: 2992562.0
  Time: 2024, Value: 3034071.0
  Time: 2025, Value: 3071890.0
  Time: 2026, Value: 3109641.0
  Time: 2027, Value: 3148105.0
  Time: 2028, Value: 3187267.0
  Time: 2029, Value: 3226815.0
  Time: 2030, Value: 3266564.0
  Time: 2031, Value: 3306480.0
  Time: 2032, Value: 3346445.0
  Time: 2033, Value: 3386504.0
  Time: 2034, Value: 3426783.0
  Time: 2035, Value: 3467468.0
  Time: 2036, Value: 3508727.0
  Time: 2037, Value: 3550510.0
  Time: 2038, Value: 3592766.0
  Time: 2039, Value: 3635469.0
  Time: 2040, Value: 3678671.0
  Time: 2041, Value: 3722469.0
  Time: 2042, Value: 3766844.0
  Time: 2043, Value: 3811787.0
  Time: 2044, Value: 3857318.0
  Time: 2045, Value: 3903525.0
  Time: 2046, Value: 3950559.0
  Time: 2047, Value: 3998416.0
  Time: 2048, Value: 4047162.0
  Time: 2049, Value: 4096935.0
  Time: 2050, Value: 4147962.0
  Time: 2051, Value: 4200476.0
  Time: 2052, Value: 4254467.0
  Time: 2053, Value: 4309873.0
  Time: 2054, Value: 4366650.0
  Time: 2055, Value: 4424836.0
  Time: 2056, Value: 4484515.0
  Time: 2057, Value: 4545554.0
  Time: 2058, Value: 4607810.0
  Time: 2059, Value: 4671200.0
  Time: 2060, Value: 4735778.0
Location: DEU
  Time: 2020, Value: 3947166.73612686
  Time: 2021, Value: 4077562.93265552
  Time: 2022, Value: 4257314.08509196
  Time: 2023, Value: 4338827.0
  Time: 2024, Value: 4385355.0
  Time: 2025, Value: 4419373.0
  Time: 2026, Value: 4449217.0
  Time: 2027, Value: 4478150.0
  Time: 2028, Value: 4507380.0
  Time: 2029, Value: 4536670.0
  Time: 2030, Value: 4565995.0
  Time: 2031, Value: 4595534.0
  Time: 2032, Value: 4625521.0
  Time: 2033, Value: 4656349.0
  Time: 2034, Value: 4688367.0
  Time: 2035, Value: 4721863.0
  Time: 2036, Value: 4757042.0
  Time: 2037, Value: 4793973.0
  Time: 2038, Value: 4832613.0
  Time: 2039, Value: 4872740.0
  Time: 2040, Value: 4914029.0
  Time: 2041, Value: 4956185.0
  Time: 2042, Value: 4999058.0
  Time: 2043, Value: 5042536.0
  Time: 2044, Value: 5086551.0
  Time: 2045, Value: 5131040.0
  Time: 2046, Value: 5175978.0
  Time: 2047, Value: 5221425.0
  Time: 2048, Value: 5267470.0
  Time: 2049, Value: 5314173.0
  Time: 2050, Value: 5361523.0
  Time: 2051, Value: 5409485.0
  Time: 2052, Value: 5458138.0
  Time: 2053, Value: 5507556.0
  Time: 2054, Value: 5557900.0
  Time: 2055, Value: 5609415.0
  Time: 2056, Value: 5662351.0
  Time: 2057, Value: 5716947.0
  Time: 2058, Value: 5773277.0
  Time: 2059, Value: 5831274.0
  Time: 2060, Value: 5890765.0
Location: JPN
  Time: 2020, Value: 5104892.0427927
  Time: 2021, Value: 5239313.28747556
  Time: 2022, Value: 5345936.84053381
  Time: 2023, Value: 5405077.0
  Time: 2024, Value: 5445553.0
  Time: 2025, Value: 5477318.0
  Time: 2026, Value: 5506395.0
  Time: 2027, Value: 5536111.0
  Time: 2028, Value: 5567248.0
  Time: 2029, Value: 5599273.0
  Time: 2030, Value: 5631733.0
  Time: 2031, Value: 5664277.0
  Time: 2032, Value: 5696523.0
  Time: 2033, Value: 5727996.0
  Time: 2034, Value: 5758291.0
  Time: 2035, Value: 5787177.0
  Time: 2036, Value: 5814600.0
  Time: 2037, Value: 5840327.0
  Time: 2038, Value: 5864345.0
  Time: 2039, Value: 5886727.0
  Time: 2040, Value: 5907647.0
  Time: 2041, Value: 5927313.0
  Time: 2042, Value: 5945730.0
  Time: 2043, Value: 5962831.0
  Time: 2044, Value: 5978519.0
  Time: 2045, Value: 5992860.0
  Time: 2046, Value: 6006202.0
  Time: 2047, Value: 6018798.0
  Time: 2048, Value: 6031337.0
  Time: 2049, Value: 6044710.0
  Time: 2050, Value: 6059900.0
  Time: 2051, Value: 6077718.0
  Time: 2052, Value: 6098274.0
  Time: 2053, Value: 6121410.0
  Time: 2054, Value: 6146851.0
  Time: 2055, Value: 6174422.0
  Time: 2056, Value: 6204026.0
  Time: 2057, Value: 6235204.0
  Time: 2058, Value: 6267453.0
  Time: 2059, Value: 6300303.0
  Time: 2060, Value: 6333415.0
Location: GBR
  Time: 2020, Value: 2656128.5378153
  Time: 2021, Value: 2848040.89052592
  Time: 2022, Value: 3005308.58046365
  Time: 2023, Value: 3075237.0
  Time: 2024, Value: 3121279.0
  Time: 2025, Value: 3162138.0
  Time: 2026, Value: 3202893.0
  Time: 2027, Value: 3244768.0
  Time: 2028, Value: 3287691.0
  Time: 2029, Value: 3331140.0
  Time: 2030, Value: 3374652.0
  Time: 2031, Value: 3417955.0
  Time: 2032, Value: 3460916.0
  Time: 2033, Value: 3503551.0
  Time: 2034, Value: 3545934.0
  Time: 2035, Value: 3588162.0
  Time: 2036, Value: 3630335.0
  Time: 2037, Value: 3672596.0
  Time: 2038, Value: 3715014.0
  Time: 2039, Value: 3757626.0
  Time: 2040, Value: 3800457.0
  Time: 2041, Value: 3843554.0
  Time: 2042, Value: 3886992.0
  Time: 2043, Value: 3930816.0
  Time: 2044, Value: 3975040.0
  Time: 2045, Value: 4019669.0
  Time: 2046, Value: 4064725.0
  Time: 2047, Value: 4110190.0
  Time: 2048, Value: 4156066.0
  Time: 2049, Value: 4202370.0
  Time: 2050, Value: 4249172.0
  Time: 2051, Value: 4296597.0
  Time: 2052, Value: 4344710.0
  Time: 2053, Value: 4393623.0
  Time: 2054, Value: 4443458.0
  Time: 2055, Value: 4494356.0
  Time: 2056, Value: 4546474.0
  Time: 2057, Value: 4599875.0
  Time: 2058, Value: 4654600.0
  Time: 2059, Value: 4710636.0
  Time: 2060, Value: 4767945.0
Location: USA
  Time: 2020, Value: 19277860.0570682
  Time: 2021, Value: 20600684.2066607
  Time: 2022, Value: 21333157.9390889
  Time: 2023, Value: 21745600.0
  Time: 2024, Value: 22089590.0
  Time: 2025, Value: 22435530.0
  Time: 2026, Value: 22795090.0
  Time: 2027, Value: 23165430.0
  Time: 2028, Value: 23542450.0
  Time: 2029, Value: 23922220.0
  Time: 2030, Value: 24302080.0
  Time: 2031, Value: 24680650.0
  Time: 2032, Value: 25057260.0
  Time: 2033, Value: 25432210.0
  Time: 2034, Value: 25805950.0
  Time: 2035, Value: 26178950.0
  Time: 2036, Value: 26551860.0
  Time: 2037, Value: 26925870.0
  Time: 2038, Value: 27301970.0
  Time: 2039, Value: 27680920.0
  Time: 2040, Value: 28063300.0
  Time: 2041, Value: 28449620.0
  Time: 2042, Value: 28840510.0
  Time: 2043, Value: 29236180.0
  Time: 2044, Value: 29636360.0
  Time: 2045, Value: 30040560.0
  Time: 2046, Value: 30448430.0
  Time: 2047, Value: 30860520.0
  Time: 2048, Value: 31276660.0
  Time: 2049, Value: 31696400.0
  Time: 2050, Value: 32119290.0
  Time: 2051, Value: 32545110.0
  Time: 2052, Value: 32973750.0
  Time: 2053, Value: 33405240.0
  Time: 2054, Value: 33839410.0
  Time: 2055, Value: 34276180.0
  Time: 2056, Value: 34715910.0
  Time: 2057, Value: 35159850.0
  Time: 2058, Value: 35609030.0
  Time: 2059, Value: 36064460.0
  Time: 2060, Value: 36527240.0
Location: CHN
  Time: 2020, Value: 23509112.4859016
  Time: 2021, Value: 25514667.1525193
  Time: 2022, Value: 26995184.572743
  Time: 2023, Value: 28326230.0
  Time: 2024, Value: 29596430.0
  Time: 2025, Value: 30847740.0
  Time: 2026, Value: 32090550.0
  Time: 2027, Value: 33328160.0
  Time: 2028, Value: 34558960.0
  Time: 2029, Value: 35776690.0
  Time: 2030, Value: 36976710.0
  Time: 2031, Value: 38155280.0
  Time: 2032, Value: 39309470.0
  Time: 2033, Value: 40435560.0
  Time: 2034, Value: 41529450.0
  Time: 2035, Value: 42587530.0
  Time: 2036, Value: 43607620.0
  Time: 2037, Value: 44588650.0
  Time: 2038, Value: 45531140.0
  Time: 2039, Value: 46436270.0
  Time: 2040, Value: 47305810.0
  Time: 2041, Value: 48142100.0
  Time: 2042, Value: 48947850.0
  Time: 2043, Value: 49726360.0
  Time: 2044, Value: 50481210.0
  Time: 2045, Value: 51216270.0
  Time: 2046, Value: 51936040.0
  Time: 2047, Value: 52645640.0
  Time: 2048, Value: 53350570.0
  Time: 2049, Value: 54055810.0
  Time: 2050, Value: 54765280.0
  Time: 2051, Value: 55481590.0
  Time: 2052, Value: 56205480.0
  Time: 2053, Value: 56936110.0
  Time: 2054, Value: 57671560.0
  Time: 2055, Value: 58410030.0
  Time: 2056, Value: 59150730.0
  Time: 2057, Value: 59894050.0
  Time: 2058, Value: 60640270.0
  Time: 2059, Value: 61389070.0
  Time: 2060, Value: 62139790.0
Location: IND
  Time: 2020, Value: 8415911.84325774
  Time: 2021, Value: 9091495.02468221
  Time: 2022, Value: 9957662.72705213
  Time: 2023, Value: 10815240.0
  Time: 2024, Value: 11635760.0
  Time: 2025, Value: 12450620.0
  Time: 2026, Value: 13269540.0
  Time: 2027, Value: 14093520.0
  Time: 2028, Value: 14923520.0
  Time: 2029, Value: 15760180.0
  Time: 2030, Value: 16602910.0
  Time: 2031, Value: 17450590.0
  Time: 2032, Value: 18301730.0
  Time: 2033, Value: 19155040.0
  Time: 2034, Value: 20009020.0
  Time: 2035, Value: 20862090.0
  Time: 2036, Value: 21712830.0
  Time: 2037, Value: 22560550.0
  Time: 2038, Value: 23404900.0
  Time: 2039, Value: 24245720.0
  Time: 2040, Value: 25082990.0
  Time: 2041, Value: 25916950.0
  Time: 2042, Value: 26748030.0
  Time: 2043, Value: 27576820.0
  Time: 2044, Value: 28403630.0
  Time: 2045, Value: 29228650.0
  Time: 2046, Value: 30052370.0
  Time: 2047, Value: 30876030.0
  Time: 2048, Value: 31701400.0
  Time: 2049, Value: 32530040.0
  Time: 2050, Value: 33363210.0
  Time: 2051, Value: 34202140.0
  Time: 2052, Value: 35048310.0
  Time: 2053, Value: 35903600.0
  Time: 2054, Value: 36769260.0
  Time: 2055, Value: 37645610.0
  Time: 2056, Value: 38532720.0
  Time: 2057, Value: 39431120.0
  Time: 2058, Value: 40341790.0
  Time: 2059, Value: 41265730.0
  Time: 2060, Value: 42203870.0

In [31]:
import csv

# Open a CSV file for writing
with open('data.csv', 'w', newline='') as csvfile:
    # Create a CSV writer object
    writer = csv.DictWriter(csvfile, fieldnames=['Location', 'Time', 'Value'])
    
    # Write the header row
    writer.writeheader()
    
    # Iterate over the rows of the dataframe
    for _, row in df.iterrows():
        # Write the data row
        writer.writerow({'Location': row['LOCATION'], 'Time': row['TIME'], 'Value': row['Value']})