<a href="https://colab.research.google.com/github/olilambourn/olilambourn.github.io/blob/main/w4chart1scrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

These commands import the data scraping software

In [53]:
import numpy as np
import pandas as pd

This imports the website (Wikipedia) that I will be scraping data from

In [66]:
URL = "https://en.wikipedia.org/wiki/Deforestation_in_Brazil"

In [55]:
html = requests.get(URL)

pd command scrapes the data from the website. df collects the data points in tables

In [56]:
df = pd.read_html(URL)

In [57]:
df

[                                                   0  \
 0  A NASA satellite observation of deforestation ...
 1                                            Country
 2                                           Location
 3                                        Forest type
 4                                        Forest area
 5                                        Main causes

                                                    1
 0  A NASA satellite observation of deforestation ...
 1                                             Brazil
 2                                       Amazon basin
 3                                         Rainforest
 4                    2,100,000 sq mi (5,400,000 km2)
 5  Cattle ranching, logging, climate change, mini...  ,
        Period  Estimated remaining forest coverin the Brazilian Amazon (km2)  \
 0    Pre–1970                                            4100000
 1        1977                                            3955870
 2   1978–1987                                            3744570
 3        1988                                            3723520
 4        1989                                            3705750
 5        1990                                            3692020
 6        1991                                            3680990
 7        1992                                            3667204
 8        1993                                            3652308
 9        1994                                            3637412
 10       1995                                            3608353
 11       1996                                            3590192
 12       1997                                            3576965
 13       1998                                            3559582
 14       1999                                            3542323
 15       2000                                            3524097
 16       2001                                            3505932
 17       2002                                            3484281
 18       2003                                            3458885
 19       2004                                            3431113
 20       2005                                            3412099
 21       2006                                            3397814
 22       2007                                            3386163
 23       2008                                            3373252
 24       2009                                            3365788
 25       2010                                            3358788
 26       2011                                            3352370
 27       2012                                            3347799
 28       2013                                            3341908
 29       2014                                            3336896
 30       2015                                            3330689
 31       2016                                            3322796
 32       2017                                            3315849
 33       2018                                            3307949
 34       2019                                            3297251
 35       2020                                            3286903
 36       2021                                            3274716

    Annual forestloss (km2) Percent of 1970cover remaining  \
 0                        —                              —
 1                    21130                          96.5%
 2                    21130                          91.3%
 3                    21050                          90.8%
 4                    17770                          90.4%
 5                    13730                          90.0%
 6                    11030                          89.8%
 7                    13786                          89.4%
 8                    14896                          89.1%
 9                    14896                          88.7%
 10                   29059                          88.0%
 11                   18161                          87.6%
 12                   13227                          87.2%
 13                   17383                          86.8%
 14                   17259                          86.4%
 15                   18226                          86.0%
 16                   18165                          85.5%
 17                   21651                          85.0%
 18                   25396                          84.4%
 19                   27772                          83.7%
 20                   19014                          83.2%
 21                   14285                          82.9%
 22                   11651                          82.6%
 23                   12911                          82.3%
 24                    7464                          82.1%
 25                    7000                          81.9%
 26                    6418                          81.8%
 27                    4571                          81.7%
 28                    5891                          81.5%
 29                    5012                          81.4%
 30                    6207                          81.2%
 31                    7893                          81.0%
 32                    6947                          80.9%
 33                    7900                          80.7%
 34                   10698                          80.4%
 35                   10348                          80.2%
 36                   12187                          79.9%

    Total forest losssince 1970 (km2)
 0                                  —
 1                             144130
 2                             355430
 3                             376480
 4                             394250
 5                             407980
 6                             419010
 7                             432796
 8                             447692
 9                             462588
 10                            491647
 11                            509808
 12                            523035
 13                            540418
 14                            557677
 15                            575903
 16                            594068
 17                            615719
 18                            641115
 19                            668887
 20                            687901
 21                            702186
 22                            713837
 23                            726748
 24                            734212
 25                            741212
 26                            747630
 27                            752201
 28                            758092
 29                            763104
 30                            769311
 31                            777204
 32                            784151
 33                            792051
 34                            802749
 35                            813097
 36                            825284  ,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteEconomy of Brazil  \
 0                                            History
 1                                        Agriculture
 2                                            Welfare
 3                                             Energy
 4                                      Other sectors
 5                                              Misc.
 6                                  Category  Commons

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteEconomy of Brazil.1
 0  Gold cycle Coffee cycle Empire Fazenda Rubber ...
 1  Wine Banana Orange Beer Coffee Irrigation Anim...
 2  Bolsa Família Auxílio Brasil Cingapura project...
 3  Renewable energy Ethanol fuel (History) Electr...
 4  Industry Automotive industry (Automobiles manu...
 5  Real Federative units by GDP Federative units ...
 6                                  Category  Commons                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ,
      vteDeforestation by country or region  \
 0                                   Africa
 1                                 Americas
 2                                     Asia
 3                                   Europe
 4                                  Oceania
 5  Category  Commons  WikiProject Forestry

              vteDeforestation by country or region.1  \
 0  Angola DR Congo Ethiopia Kenya Madagascar Nigeria
 1  Amazon Brazil Canada (British Columbia) Centra...
 2  Borneo Cambodia China India Indonesia (Kaliman...
 3                                Roman Empire Russia
 4  Australia (Victoria) New Zealand Papua New Guinea
 5            Category  Commons  WikiProject Forestry

    vteDeforestation by country or region.2
 0                                      NaN
 1                                      NaN
 2                                      NaN
 3                                      NaN
 4                                      NaN
 5  Category  Commons  WikiProject Forestry  ,
    vteDeforestation in South America  \
 0                   Sovereign states
 1  Dependencies andother territories

                  vteDeforestation in South America.1
 0  Argentina Bolivia Brazil Chile Colombia Ecuado...
 1  Falkland Islands French Guiana South Georgia a...  ,
                     vteDeforestation in the Americas  \
 0  North America Caribbean Central America Northe...
 1                                   Sovereign states
 2                  Dependencies andother territories

                   vteDeforestation in the Americas.1  \
 0  North America Caribbean Central America Northe...
 1  Antigua and Barbuda Argentina Bahamas Barbados...
 2  Anguilla Aruba Bermuda Bonaire British Virgin ...

                   vteDeforestation in the Americas.2
 0  North America Caribbean Central America Northe...
 1                                                NaN
 2                                                NaN  ]

In [58]:
df2 = df[1]

I use df2.drop to drop certain columns I won't be using in my charts

In [59]:
df3 = df2.drop("Total forest losssince 1970 (km2)", axis=1)

In [60]:
df3

,Period,Estimated remaining forest coverin the Brazilian Amazon (km2),Annual forestloss (km2),Percent of 1970cover remaining
0,Pre–1970,4100000,—,—
1,1977,3955870,21130,96.5%
2,1978–1987,3744570,21130,91.3%
3,1988,3723520,21050,90.8%
4,1989,3705750,17770,90.4%
5,1990,3692020,13730,90.0%
6,1991,3680990,11030,89.8%
7,1992,3667204,13786,89.4%
8,1993,3652308,14896,89.1%
9,1994,3637412,14896,88.7%
10,1995,3608353,29059,88.0%
11,1996,3590192,18161,87.6%
12,1997,3576965,13227,87.2%
13,1998,3559582,17383,86.8%
14,1999,3542323,17259,86.4%
15,2000,3524097,18226,86.0%
16,2001,3505932,18165,85.5%
17,2002,3484281,21651,85.0%
18,2003,3458885,25396,84.4%
19,2004,3431113,27772,83.7%
20,2005,3412099,19014,83.2%
21,2006,3397814,14285,82.9%
22,2007,3386163,11651,82.6%
23,2008,3373252,12911,82.3%
24,2009,3365788,7464,82.1%
25,2010,3358788,7000,81.9%
26,2011,3352370,6418,81.8%
27,2012,3347799,4571,81.7%
28,2013,3341908,5891,81.5%
29,2014,3336896,5012,81.4%
30,2015,3330689,6207,81.2%
31,2016,3322796,7893,81.0%
32,2017,3315849,6947,80.9%
33,2018,3307949,7900,80.7%
34,2019,3297251,10698,80.4%
35,2020,3286903,10348,80.2%
36,2021,3274716,12187,79.9%

In [61]:
df4 = df3.drop([0,1,2], axis=0)

In [62]:
df4

,Period,Estimated remaining forest coverin the Brazilian Amazon (km2),Annual forestloss (km2),Percent of 1970cover remaining
3,1988,3723520,21050,90.8%
4,1989,3705750,17770,90.4%
5,1990,3692020,13730,90.0%
6,1991,3680990,11030,89.8%
7,1992,3667204,13786,89.4%
8,1993,3652308,14896,89.1%
9,1994,3637412,14896,88.7%
10,1995,3608353,29059,88.0%
11,1996,3590192,18161,87.6%
12,1997,3576965,13227,87.2%
13,1998,3559582,17383,86.8%
14,1999,3542323,17259,86.4%
15,2000,3524097,18226,86.0%
16,2001,3505932,18165,85.5%
17,2002,3484281,21651,85.0%
18,2003,3458885,25396,84.4%
19,2004,3431113,27772,83.7%
20,2005,3412099,19014,83.2%
21,2006,3397814,14285,82.9%
22,2007,3386163,11651,82.6%
23,2008,3373252,12911,82.3%
24,2009,3365788,7464,82.1%
25,2010,3358788,7000,81.9%
26,2011,3352370,6418,81.8%
27,2012,3347799,4571,81.7%
28,2013,3341908,5891,81.5%
29,2014,3336896,5012,81.4%
30,2015,3330689,6207,81.2%
31,2016,3322796,7893,81.0%
32,2017,3315849,6947,80.9%
33,2018,3307949,7900,80.7%
34,2019,3297251,10698,80.4%
35,2020,3286903,10348,80.2%
36,2021,3274716,12187,79.9%

In [63]:
df4

,Period,Estimated remaining forest coverin the Brazilian Amazon (km2),Annual forestloss (km2),Percent of 1970cover remaining
3,1988,3723520,21050,90.8%
4,1989,3705750,17770,90.4%
5,1990,3692020,13730,90.0%
6,1991,3680990,11030,89.8%
7,1992,3667204,13786,89.4%
8,1993,3652308,14896,89.1%
9,1994,3637412,14896,88.7%
10,1995,3608353,29059,88.0%
11,1996,3590192,18161,87.6%
12,1997,3576965,13227,87.2%
13,1998,3559582,17383,86.8%
14,1999,3542323,17259,86.4%
15,2000,3524097,18226,86.0%
16,2001,3505932,18165,85.5%
17,2002,3484281,21651,85.0%
18,2003,3458885,25396,84.4%
19,2004,3431113,27772,83.7%
20,2005,3412099,19014,83.2%
21,2006,3397814,14285,82.9%
22,2007,3386163,11651,82.6%
23,2008,3373252,12911,82.3%
24,2009,3365788,7464,82.1%
25,2010,3358788,7000,81.9%
26,2011,3352370,6418,81.8%
27,2012,3347799,4571,81.7%
28,2013,3341908,5891,81.5%
29,2014,3336896,5012,81.4%
30,2015,3330689,6207,81.2%
31,2016,3322796,7893,81.0%
32,2017,3315849,6947,80.9%
33,2018,3307949,7900,80.7%
34,2019,3297251,10698,80.4%
35,2020,3286903,10348,80.2%
36,2021,3274716,12187,79.9%

This exports the data I have scraped into a csv format to allow me to create a chart on Vega-Editor

In [64]:
df4.to_csv("week4_chart1.csv")